

body {
	background-color: gray;
}

.note {
	border-color: black;
	border-width: 3px;
	align-content: center;
	font-family: 'Oswald', sans-serif;
	border-style: solid;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 10px;
}

.form {
	border-color: #dbdbd9;
	border-width: 3px;
	align-content: center;
	font-family: 'Oswald', sans-serif;
	border-style: solid;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 15px;
	font-weight: 5px;
	padding: 25px;
}